body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
    
  }

  .card {
    z-index: 5;
  }

  .lane {
    z-index: 0;
  }
  
  .task-card:hover {
    cursor: grab;
  }
